body {
    margin: 0;
   
  }
  
  .backdrop{
    top:0;
    position:fixed;
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%
  }

  .table-score {
    border-collapse: collapse;
    width: auto;
    margin-left: 0;
    margin-right: auto;  
    
  }

  .table-score th{
    background: #8c0f26;
  }

  .pop-container{
    width:90%;
    height:90%;
    padding: 20px;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    
  }

  .pop-header{
    height: 15px;
    display:flex;
    flex-wrap:nowrap;
    padding: 8px 5px 5px 8px;
    color:white;
    font-size:x-large;
    background-color: #520513;
  }

  #pop-unitname{
    height: 30px;
    display:flex;
    flex-wrap:nowrap;
    padding: 8px 8px 8px 8px;
    color:white;
    font-size: larger;
    background-color: #520513;
  }

  .header {
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0 8px 0 8px;
    width: auto;
    background: linear-gradient(to bottom, #520513,white);
  
  }
  
  .nav-title {
    color: aliceblue;
  }
  
  .nav-links {
    display: flex;
    list-style-type: none;
    margin-block-end: 0px;
  
  
  }
  
  .nav-links button {
    padding: 9px;
    background-color: #520513;
    margin-right: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-width: 0px;
    box-shadow: 5px 5px #88888888;
    color: aliceblue;
  }
  
  .nav-links button.active {
    background-color: aliceblue;
    box-shadow: none;
    color: black;
  }
  
  .nav-links li {
    padding: 9px;
    background-color: #72883F;
    margin-right: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 5px 5px #88888888;
  
  }
  
  
  
  .nav-links li a {
    color: aliceblue;
    text-decoration: none;
  }
  
  .nav-links li.active {
    padding: 9px;
    background-color: aliceblue;
    margin-right: 8px;
    box-shadow: none;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  
  }
  
  .nav-links li.active a {
    color: black;
    text-decoration: none;
  }
  
  .login-form {
    width: 30%;
    height: 30%;
    margin: auto;
    margin-top: 200px;
    background-color:#f3eff0;
    border-radius: 15px 15px 15px 15px;
  }
  
  
  
  .login-form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #848181;
    border-radius: 4px;
    box-sizing: border-box;
    background: #f2d4d9;
  }
  
  .login-form button {
    width: 100%;
    background-color: #520513;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #login_label{
    display:flex;
    padding:8px;
    font-weight: 700;
  }
  
  .login-form input[type=submit]:hover {
    background-color: #787b72;
  }
  
  table {
    border-collapse: collapse;
    width: auto;
    margin-left: 0;
    margin-right: auto;
  }

    
  table th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align:center;
    background-color: #8c0f26;
    color: white;
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 4px;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  #menubuttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 8px;
  
  }
  
  #menubuttons button {
    padding: 4pxx;
    background-color: #72883F;
    margin-right: 8px;
    border-radius: 4px;
    border-width: 0px;
    box-shadow: 5px 5px #88888888;
    color: aliceblue;
  }
  
  #menubuttons select {
    width: 100%;
    padding: 4px 8px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  select {
    padding: 4px 8px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .chart-container {
    flex: 1 1 200px;
  }
  
  .issues-chart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 8px;
  
  }
  
  .issues-table {
    flex: 2 1 200px;
  }
  
  .row {
    padding: 8px;
  }
  
  .issue-form-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
  
  .issue-form-container .createIssueBody {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .issue-form-container .responsibledept {
    margin-left: 30px;
  }
  .issue-form-container h3{
    padding: 6px;
    background-color: #676F54;
    color: aliceblue;
    border-radius: 4px;
  }
  .issue-form-container .inputtext {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #cancelcreate {
    margin-left: 20px;
  }
  
  .issue-form-container button{
    padding: 8px;
    border-radius: 4px solid transparent ;
  }
  
  
  .issue-details-container h3{
    color: aliceblue;
    background-color: #676F54;
  }
  .issue-details-container button{
    padding: 6px;
    border-radius: 4px solid transparent;
    margin-left: 16px;
  }
  
  .issue-details-container .auditdetails{
    padding: 16px;
  }
  label, span {
    line-height: 25px;
  }
  
  table.issueactiontable th {
        border: 1px;
        border-style: solid;
        border-color: #72883F;
        background-color:#72883F;
    }
  
    table.issueactiontable td {
        border: 1px;
        border-style: solid;
        border-color: #676F54;
        
    }
  
    .login-form .logo{
      width: 160px;
      height: 160px; 
  }
  
  .login-form .header-with-logo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .login-form .header-with-logo h2{
    margin-top: auto;
    margin-bottom: auto;
  }

  .button-riskscore{
    display:flex;
  }
  
  button{
    margin:3px;
    
  }

 

  
  
  
  