body {
    margin: 0;
   
  }
  
  .backdrop{
    top:0;
    position:fixed;
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%
  }

  .table-score {
    border-collapse: collapse;
    width: auto;
    margin-left: 0;
    margin-right: auto;  
    
  }

  .table-score th{
    background: #545189;
    
  }

  .table-score .risks{
    background: #d1698a;
  }

  .pop-container{
    width:90%;
    height:90%;
    padding: 20px;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    
  }

  .pop-header{
    height: 15px;
    display:flex;
    flex-wrap:nowrap;
    padding: 8px 5px 5px 8px;
    color:white;
    font-size:x-large;
    background-color: #311b71;
    border-top-left-radius: 15px;
    border-top-right-radius:15px ;
  }

  #pop-unitname{
    height: 30px;
    display:flex;
    flex-wrap:nowrap;
    padding: 8px 8px 8px 8px;
    color:white;
    font-size: larger;
    background-color: #311b71;
  }

  .header {
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0 8px 0 8px;
    width: auto;
    background-color: #311b71;
    border-radius: 10px;
  
  }
  
  .nav-title {
    color: aliceblue;
  }
  
  .nav-links {
    display: flex;
    list-style-type: none;
    margin-block-end: 0px;
  
  
  }
  
  .nav-links button {
    padding: 9px;
    background-color: #44376a;
    margin-right: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-width: 0px;
    box-shadow: 5px 5px #dcd9d988;
    color: aliceblue;
  }
  
  .nav-links button.active {
    background-color: aliceblue;
    box-shadow: none;
    color: black;
  }
  
  .nav-links li {
    padding: 9px;
    background-color: #72883F;
    margin-right: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 5px 5px #88888888;
  
  }
  
  
  
  .nav-links li a {
    color: aliceblue;
    text-decoration: none;
  }
  
  .nav-links li.active {
    padding: 9px;
    background-color: aliceblue;
    margin-right: 8px;
    box-shadow: none;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  
  }
  
  .nav-links li.active a {
    color: black;
    text-decoration: none;
  }
  
  .login-form {
    width: 20%;
    height: 30%;
    margin: auto;
    margin-top: 200px;
    background-color:#f3eff0;
    border-radius: 15px 15px 15px 15px;
  }
  
  
  
  .login-form input {
    width: 95%;
    padding: 12px 20px;
    margin-left:10px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid #848181;
    border-radius: 10px;
    box-sizing: border-box;
    background: #e2dbee;
    text-align: left;
  }
  
  .login-form button {
    width: 40%;
    background-color: #610fa9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  #login_label{
    display:flex;
    padding:8px;
    font-weight: 700;
  }
  
  .login-form input[type=submit]:hover {
    background-color: #787b72;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    margin-left: 0;
    margin-right: auto;
    border-radius: 15px;
  }

    
  table th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align:center;
    background-color: #545189;
    color: white;
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 4px;
  }
  
  table tr:nth-child(even) {
    background-color: #eeebf8;
  }
  
  table tr:hover {
    background-color: #a7aafe;
    /* color:white; */
  }

  /* table tr:hover:not([style="background-color: yellow;"]) { */
    /* color: white; */
  /* } */
  
  #menubuttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 8px;
  
  }
  
  #menubuttons button {
    padding: 4pxx;
    background-color: #72883F;
    margin-right: 8px;
    border-radius: 4px;
    border-width: 0px;
    box-shadow: 5px 5px #88888888;
    color: aliceblue;
  }
  
  #menubuttons select {
    width: 100%;
    padding: 4px 8px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  select {
    padding: 4px 8px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* .chart-container {
    flex: 1 1 200px;
  }
  
  .issues-chart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 8px;
  
  } */
  
  /* .issues-table {
    flex: 2 1 200px;
  } */
  
  .row {
    padding: 8px;
  }
  
  /* .issue-form-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
   */
  /* .issue-form-container .createIssueBody {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .issue-form-container .responsibledept {
    margin-left: 30px;
  }
  .issue-form-container h3{
    padding: 6px;
    background-color: #676F54;
    color: aliceblue;
    border-radius: 4px;
  }
  .issue-form-container .inputtext {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #cancelcreate {
    margin-left: 20px;
  } */
  
  /* .issue-form-container button{
    padding: 8px;
    border-radius: 4px solid transparent ;
  }
  
  
  .issue-details-container h3{
    color: aliceblue;
    background-color: #676F54;
  }
  .issue-details-container button{
    padding: 6px;
    border-radius: 4px solid transparent;
    margin-left: 16px;
  }
  
  .issue-details-container .auditdetails{
    padding: 16px;
  } */
  label, span {
    line-height: 25px;
  }
  
  table.issueactiontable th {
        border: 1px;
        border-style: solid;
        border-color: #72883F;
        background-color:#72883F;
    }
  
    table.issueactiontable td {
        border: 1px;
        border-style: solid;
        border-color: #676F54;
        
    }
  
    .login-form .logo{
      width: 160px;
      height: 160px; 
  }

  #login-head{
    text-align: left;
    padding-left: 10px;
    color:rgb(254, 253, 253)

  }

  .login-form{
    background-color: #c0baf0;
  }
  
  /* .login-form .header-with-logo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .login-form .header-with-logo h2{
    margin-top: auto;
    margin-bottom: auto;
  } */

  .button-riskscore{
    display:flex;
  }
  
  button{
    margin:3px; 
    
  }

  button:hover {
    margin:3px;
    cursor: pointer;
  }

  .main-container-box{
    margin:20px;
    height: 900px;
    padding: 6px;
    background-color:  #ded9f5;
    color: aliceblue;
    border-radius: 15px;
    display:flex;
    justify-content: center;
    border: #c7b9f0 1px solid;
  }

  .sub-container-box1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width:50%;
    height:95%;
    margin: 10px 20px;
    border:1px;
    border-style:solid;
    border-radius: 10px;
    
  }

  .sub-container-box2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width:50%;
    height:95%;
    margin: 10px 20px;
    border:1px;
    border-style:solid;
    border-radius: 10px;
  }

  #box-newsarticle{
    display:flex;
    width:90%;
    height:40%;
    margin: 10px;
    border:1px solid;
    border-radius: 10px;
  }

#box-chart1{
   display:flex;
    width:95%;
    height:30%;
    margin: 10px;
    border:1px solid;
    border-radius: 10px;
  
}

.chartone-container{
  position: relative; 
  height:200px; 
  width:100%;
  
}

.charttwo-container{
  position: relative; 
  height:100%; 
  width:100%;
  margin-top: 10px;
  margin-left:7px;
}

#myChartOne{
  border-radius: 20px;
}

#ChartOne{
  
  width: 95%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: 20px;

 
}

#ChartTwo{
  width: 90%;
  height: 95%;
  box-sizing: border-box;
  margin: 10px;
  margin: 10px;
  border-radius: 10px;
 
}
#box-chart2{
  display:flex;
    width:40%;
    height:95%;
    margin: 10px;
    border:1px solid;
    border-radius: 20px;
}

#myChartTwo{
  border-radius: 20px;
}




/* canvas {
  height: 3%;
} */

#sub-container2{
  display:flex;
    width:95%;
    height:70%;
    margin: 10px;
    border:1px solid;
    border-radius: 10px;
}



#sub-container3{
  display:flex;
  flex-direction: column;
  width:100%;
  height:95%;
  margin: 10px;
  border:1px solid;
  border-radius: 10px;
}

#box-chart3{
  width:95%;
  height:65%;
  margin: 10px;
  border:1px solid;
  border-radius: 10px;
}

#ChartThree{
  width: 98%;
  height: 90%;
  box-sizing: border-box;
  margin: 10px;
  margin: 10px;
  border-radius: 10px;
 
}
#myChartThree{
  border-radius: 20px;
  margin-left: 8px;
  
}


#box-chart4{
  width:95%;
  height:35%;
  margin: 10px;
  border:1px solid;
  border-radius: 10px;
}

#myChartFour{
  
  border-radius: 20px;
}

.chartfour-container{
  width: 100%;
  height: 90%;
}

#ChartFour{
  width: 98%;
  height: 100%;
  box-sizing: border-box;
  margin: 10px;
  margin: 10px;
  border-radius: 10px;
 
}

#box-chart5{
  display:flex;
  width:90%;
  height:60%;
  margin: 10px;
  border:1px solid;
  border-radius: 10px;
}

/* #box-chart5{
  width:95%;
  height:35%;
  margin: 10px;
  border:1px solid;
  border-radius: 10px;
} */

#myChartFive{
  
  border-radius: 20px;
}

.chartfive-container{
  width: 100%;
  height: 95%
}

#ChartFive{
  width: 98%;
  height: 100%;
  box-sizing: border-box;
  margin: 10px;
  margin: 10px;
  border-radius: 10px;
 
}


  #box-dash{
    display:flex;
    width: 800px;
    height:300px;
    margin: 30px;
    border:1px;
    border-style:solid;
    text-align:center;
    justify-content: center; /* Horizontally centers the content */
    align-items: center;
    border-radius: 15px;
  }

  .ralloc-table{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
    height:90%;
    padding: 20px;
    margin: 20px auto;
    border:1px;
    border-style:solid;   
    border-radius: 10px;   
  }

  #ralloc-tablearea{
    border-collapse:separate;
    width: 80%;
    margin-left: 0;
    margin-right: 0; 
    margin-bottom: 20px;
    border: 1px solid ;
    border-radius: 15px;
    padding: 5px
  }

  #tab-lvl1{
    text-align: left;
    font-weight: bold;
   
    
    
  }

  #tab-lvl2{
    text-align: left;
    padding-left: 50px;  
    
  }

  #tab-lvl3{
    text-align: center;
    /* padding-left: 80px; */
    font-weight: bold;
    background-color: #bfbfea;
    
  }

  #tab-lvl4{
    text-align: left;
    font-weight: bold;  
    
    
  }
  #tab-lvl5{
    background-color: #97a4d5;
    color:white;
  }

  #tab-lvl6{
    font-weight: bold;
  }
  #tab-lvl7{
  
    text-align: left;
    font-weight: bold;
  }

  #tab-lvl8{
    background-color: #97a4d5; 
    text-align: left;
    font-weight: bold;
    color:white;
  }
  #tab-lvl9{
    background-color: #ba85f3; 
    text-align: left;
    font-weight: bold;
    color:white;
  }
  #tab-lvl10{
    background-color: #97a4d5; 
    text-align: center;
    font-weight: bold;
    color:white;
  }

  #ralloc-units{
    border-collapse:separate;
    width: 80%;
    margin-left: 0;
    margin-right: 0; 
    margin-bottom: 20px;
    border: 1px solid ;
    border-radius: 15px;
    padding: 5px
  }

  #table2-title{
    font-size:xx-large;
    font-weight: bold;
  }

  .btn-alloc{
   text-align: left;
   width: 80%;
   padding: 0px;
  }

  #btn-alloc{
    padding: 10px;
    border-radius: 10px;
   }

   input{
    text-align: center;
    border-radius: 7px;
   }

   #buttonAdjustMHCont{
    display:flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    width: 97%;
    padding: 0px 20px 0px 0px
   }

   #buttonAdjustMH{
    padding: 10px;
    border-radius: 10px;
   }

   .cell-red {
    background-color: rgb(242, 143, 143);
    /* color: white; */
  }
  .cell-yellow {
    background-color: rgb(243, 243, 141);
    
  }
  .cell-green {
    background-color: rgb(146, 246, 99);
    /* color: white; */
  }

  .enabled-input {
    border: 2px solid magenta;;
  }

  .fixed-background {
    background-color: #97a4d5;
    color:white;
  }
  
  .negative-value {
    color: red;
  }

  #excessShortLabel{
    text-align: left;
    font-weight: bold;
  }

  .sector{
    background-color:#8b83a5 ;
    color:white;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
  }

  .unit{
    background-color:#e1e0f2 ;
    text-align: left;
    padding-left: 10px;
    
  }

  .unitname{
    font-weight: bold;
    text-align: left;
    background-color: #7f77ce;
    color:white
  }

  .risks1{
    background-color: #89c5ae;
  }

  .risks2{
    background-color: #f3e441;
  }

  .risks3{
    background-color: #7ebcf2;
  }

  .risks4{
    background-color: #eebd80;
  }

  .opstitle{
    background-color:  #0e9e67;
  }

  .credittitle{
    background-color: #837c34;
  }

  .treastitle{
    background-color: #207bcb;
  }

  .techtitle{
    background-color: #f37c37;
  }

  #risks1{
    background-color: #89c5ae;
  }

 
  #risks2{
    background-color: #f3e441;
  }

  #risks3{
    background-color: #7ebcf2;
  }

  #risks4{
    background-color: #eebd80;
  }

  #opstitle{
    background-color:  #0e9e67;
  }

  #credittitle{
    background-color: #837c34;
  }

  #treastitle{
    background-color: #207bcb;
  }

  #techtitle{
    background-color: #f37c37;
  }

  #buttonAll{
    padding:10px 10px;
    /* box-shadow: 5px 5px #625ba0; */
    background-color: #b693ec;
    border-radius: 20px;
    color:white;
  }

  #ralloc-tablearea th:first-child {
    border-top-left-radius: 10px;
  }

  #ralloc-tablearea th:last-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .ra-tablearea tr:first-child th:first-child{
    border-top-left-radius: 20px;
  }

  .ra-tablearea tr:first-child th:last-child{
    border-top-right-radius: 20px;
  }

  #ralloc-units tr:first-child th:first-child{
    border-top-left-radius: 20px;
  }

  #ralloc-units tr:first-child th:last-child{
    border-top-right-radius: 20px;
  }

  .test{
    color:#a230b4;
    color:#584214;
    color:#71cb2d;
    color:#41eace;
    color:#36e8d3;
    color:#32b6e2;
    color:#b8a6e7;
    color:#da27a1;
    color:#db299a;
    color:#e0354e;
    color:#f69191;
    
  }
 

  /* #myChart{
    width: 100%;
  } */

  



 
 
 



  



 

  
  
  
  